@model IEnumerable<Data.Entities.ProjectEntity>

<div class="project-list">
    <h4>Your Projects</h4>
    <ul class="list-group">
        @foreach (var project in Model)
        {
            <li class="list-group-item @((ViewBag.CurrentProjectId == project.Id) ? "active" : "")">
                <a asp-action="Details" asp-controller="Project" asp-route-id="@project.Id" class="text-decoration-none">
                    @project.Name
                </a>
            </li>
        }
    </ul>
</div>
